<div
  style="margin-left: 80px; margin-top: 100px; max-width: 700px"
  class="card"
>
  <div class="card-head">
    <h2>Nested form</h2>
  </div>
  <form
    [formGroup]="mainForm"
    (ngSubmit)="submit()"
    #localForm="ngForm"
    class="card-body"
  >
    <div class="container">
      <div class="leftC">
        <app-basic-info
          [formControlName]="formGroups.basicInfo"
        ></app-basic-info>
      </div>
      <div class="rightC">
        <app-adress [formControlName]="formGroups.adress"></app-adress>
      </div>
    </div>
    <!-- submit -->
    <div class="form-footer">
      <input type="submit" value="Add user" [disabled]="!localForm.valid" />
    </div>
  </form>
</div>

<!-- debug -->
<br />
<br />
<br />

<div style="max-width: 800px">
  <p>Debug</p>
  {{ localForm.value | json }}
</div>
