<div
  style="margin-left: 80px; margin-top: 100px; max-width: 700px"
  class="card"
>
  <div class="card-head">
    <h2>Nested form</h2>
  </div>
  <form
    [formGroup]="mainForm"
    (ngSubmit)="submit()"
    #localForm="ngForm"
    class="card-body"
  >
    <div class="container">
      <div class="leftC">
        <!-- firstname -->
        <label>Firstname</label>
        <input type="text" [formControlName]="fieldNames.firstname" />
        <div class="validation-error" *ngIf="firstname.errors?.['required']">
          Field is required
        </div>

        <!-- lastname -->

        <label>Lastname(try Nest)</label>
        <div class="input-container">
          <input type="text" [formControlName]="fieldNames.lastname" />
          <span class="spinner" *ngIf="lastname.pending"></span>
          <div class="validation-error" *ngIf="lastname.errors?.['required']">
            Field is required
          </div>
          <div
            class="validation-error"
            *ngIf="lastname.errors?.['lastnameExists']"
          >
            already exists
          </div>
        </div>
      </div>
      <div class="rightC">
        <!-- firstname -->
        <label>Firstname</label>
        <input type="text" [formControlName]="fieldNames.firstname" />
        <div class="validation-error" *ngIf="firstname.errors?.['required']">
          Field is required
        </div>

        <!-- lastname -->

        <label>Lastname(try Nest)</label>
        <div class="input-container">
          <input type="text" [formControlName]="fieldNames.lastname" />
          <span class="spinner" *ngIf="lastname.pending"></span>
          <div class="validation-error" *ngIf="lastname.errors?.['required']">
            Field is required
          </div>
          <div
            class="validation-error"
            *ngIf="lastname.errors?.['lastnameExists']"
          >
            already exists
          </div>
        </div>
      </div>
    </div>
    <!-- submit -->
    <div class="form-footer">
      <input type="submit" value="Add user" />
      <!-- [disabled]="!localForm.valid" -->
    </div>
  </form>
</div>

<!-- debug -->
<br />
<br />
<br />

<div style="max-width: 800px">
  <p>Debug</p>
  {{ localForm.value | json }}
</div>
