<div
  style="margin-left: 80px; margin-top: 100px; max-width: 700px"
  class="card"
>
  <div class="card-head">
    <h2>Create form from config</h2>
  </div>
  <form
    [formGroup]="mainForm"
    (ngSubmit)="submit()"
    #localForm="ngForm"
    class="card-body"
  >
    <div class="container">
      <div class="leftC">
        <label>Configuration</label>
        <textarea
          name=""
          id=""
          cols="30"
          rows="20"
          [formControlName]="fieldNames.config"
        ></textarea>

        <div class="validation-error" *ngIf="config.errors?.['validJSON']">
          Not a JSON
        </div>
      </div>
      <div class="rightC">
        <ng-container
          *ngFor="let item of parsedConfig"
          [ngSwitch]="item.controlType"
        >
          <label for="">{{ item.name }}</label>
          <input
            *ngSwitchCase="'text'"
            type="text"
            [formControlName]="item.name"
          />
          <div
            class="validation-error"
            *ngIf="mainForm .get(item.name)?.errors?.['required']"
          >
            Field is required
          </div>

          <select [formControlName]="item.name" *ngSwitchCase="'select'">
            <option [ngValue]="null">Select something</option>
            <option
              *ngFor="let item of item.selectDetails?.options"
              [ngValue]="item"
            >
              {{ item }}
            </option>
          </select>
          <div
            class="validation-error"
            *ngIf="mainForm .get(item.name)?.errors?.['required']"
          >
            Field is required
          </div>
        </ng-container>
      </div>
    </div>
    <!-- submit -->
    <div class="form-footer">
      <input type="submit" value="Add user" />
      <!-- [disabled]="!localForm.valid" -->
    </div>
  </form>
</div>

<!-- debug -->
<br />
<br />
<br />

<div style="max-width: 800px">
  <p>Debug</p>
  {{ localForm.value | json }}
</div>
