$headerHeight: 45px;
$barColor: #003566;
$menuColor: #ffd60a;
$menuHover: #ffc300;
$menuSelected: $menuHover;

.nav-header {
  background-color: $barColor;
  padding: 0px 20px;
  color: white;
  width: 800px;
  height: $headerHeight;
}

.bar-title {
  display: inline-block;
  font-size: 26px;
  line-height: $headerHeight;
  text-transform: uppercase;
  letter-spacing: 0px;
  vertical-align: top;
}

nav {
  height: 100%;
  width: auto;
  display: inline-block;
  margin-left: 80px;
  background-color: $menuColor;
  box-sizing: border-box;
}

.menu-element {
  color: $barColor;
  font-weight: 600;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  line-height: $headerHeight;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.menu-element:hover {
  background-color: $menuHover;
  opacity: 70%;
}

.active-link {
  background-color: $menuSelected;
}
