<div class="nav-header">
  <div class="bar-title">Demo</div>
  <nav>
    <a class="menu-element" routerLink="/users" routerLinkActive="active-link"
      >Array
    </a>
    <a
      class="menu-element"
      routerLink="/dynamicValidator"
      routerLinkActive="active-link"
      >Dynamic validation</a
    >
    <a
      class="menu-element"
      routerLink="/nestedForm"
      routerLinkActive="active-link"
      >Nested form</a
    >

    <a
      class="menu-element"
      routerLink="/dynamicForm"
      routerLinkActive="active-link"
      >Dynamic form</a
    >
    <a
      class="menu-element"
      routerLink="/withDeactivateForm"
      routerLinkActive="active-link"
      >With deactivate guard</a
    >

    <a
      class="menu-element"
      routerLink="/customFormControl"
      routerLinkActive="active-link"
      >Custom form control</a
    >
    <a
      class="menu-element"
      routerLink="/typedForm"
      routerLinkActive="active-link"
      >Typed form</a
    >
  </nav>
</div>
<router-outlet></router-outlet>
