<form [formGroup]="fg" (ngSubmit)="submit()" #localForm="ngForm">
  <!-- firstname -->
  <label>Firstname</label>
  <input type="text" formControlName="firstname" name="ngModel" />
  <div class="validation-error" *ngIf="firstname.errors?.['required']">
    Field is required
  </div>

  <!-- lastname -->

  <label>Lastname</label>
  <div class="input-container">
    <input type="text" formControlName="lastname" />
    <span class="spinner" *ngIf="fg.controls['lastname'].pending"></span>
    <div class="validation-error" *ngIf="lastname.errors?.['required']">
      Field is required
      {{ lastname.errors | json }}
    </div>
    <div class="validation-error" *ngIf="lastname.errors?.['lastnameExists']">
      already exists
    </div>
  </div>

  <!-- presence -->
  <label>Status</label>
  <select formControlName="status">
    <option [ngValue]="null">Select something</option>
    <option *ngFor="let item of statuses" [ngValue]="item">{{ item }}</option>
  </select>
  <div class="validation-error" *ngIf="status.errors?.['required']">
    Field is required
  </div>

  <input type="submit" value="Check" style="margin-top: 20px" />
</form>
<br />
<hr />
{{ localForm.value | json }}
{{ localForm.valid | json }}
