<div
  style="margin-left: 80px; margin-top: 100px; max-width: 700px"
  class="card"
>
  <div class="card-head">
    <h2>ADD USER</h2>
  </div>
  <form class="card-body" action="" [noValidate]="" [formGroup]="mainForm">
    <label>Firstname</label>
    <input type="text" [formControlName]="formFields.firstname" />
    <div class="validation-error" *ngIf="firstname.errors?.['required']">
      Required
    </div>

    <label>Lastname</label>
    <input type="text" [formControlName]="formFields.lastname" />
    <div class="validation-error" *ngIf="lastname.errors?.['required']">
      Required
    </div>

    <label>Age</label>
    <input type="number" [formControlName]="formFields.age" />
    <div class="validation-error" *ngIf="age.errors?.['required']">
      Required
    </div>

    <label>Sex</label>
    <select [formControlName]="formFields.sex">
      <option [ngValue]="null">Select something</option>
      <option *ngFor="let item of sexTypes" [ngValue]="item">
        {{ item }}
      </option>
    </select>
    <div class="validation-error" *ngIf="sex.errors?.['required']">
      Field is required
    </div>

    <div class="card-footer">
      <button (click)="onSubmit()" type="submit" [disabled]="!mainForm.valid">
        Save
      </button>
      <button (click)="onReset()">Reset</button>
    </div>
  </form>
</div>
